include ../layouts/main-layout.pug
block  head
    link(rel="stylesheet", href="/stylesheets/form-add-product.css")
block content
    main
        //-Neu dung _crsf thi dung them quary _csrf dang sau action
        form.product-form(enctype='multipart/form-data', method='POST',action=isEditMode?`/admin/edit-product`:`/admin/add-product` )
            if fileFilter
                .alert-danger Please choose file is image!!!!!!
            .form-control
                label Title
                input(type="text" name="title" value=productEdit?productEdit.title:'' required)
            .form-control
                label ProductImage
                input(type="file" name="productImage" accept="image/*" )
            .form-control
                label Description
                textarea(name="description" rows="5" cols="30"  required) #{productEdit?productEdit.description:''}
            .form-control
                label Price
                input(type="number" name="price"  value=productEdit?productEdit.price:'' required step='0.01')
                //-Csrf
                input(type='hidden' name='_csrf' value=csrfToken)
            button(type="submit" name="productId" value=productEdit?productEdit._id:'') #{isEditMode?'Update Product':'Add Product'} 