include ../layouts/main-layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/product-detail.css")
block content
    main
        .grid
            article.card-product-item 
                header.card-header
                    h1.product__title #{product.title}
                .card-image
                    img(src=product.imageUrl, alt=product.title, srcset="")  
                .card-content
                    h2.product__price $#{product.price}
                    p.product__description #{product.description}
                    //-Neu chua dang nhap thi khong cho hien add to cart
                    if isAuthenticated
                        form.form-add-to-cart(action='/shop/cart', method="POST")
                            input(type="hidden" name='_csrf' value=csrfToken)
                            button.btn.btn-add-to-cart(type='submit' value=product._id name='productId' ) Add to cart
  
                
                                  