include ../layouts/main-layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/shop-product-list-detail.css")
block content
    main
        .grid
            each product in products
                article.card-product-item 
                    header.card-header
                        h1.product__title #{product.title}
                        .card-image
                             img(src=product.imageUrl, alt=product.title, srcset="")  
                    .card-content
                        h2.product__price $#{product.price}
                        p.product__description #{product.description}
                    .card-action
                        //- Có thể dung cách này để gửi Id addToCart nhưng nen dung cách dưới để nó chung router add-to-cart đã tạo
                        //- form.form-delete(action=('/shop/add-to-cart/'+ product._id), method="POST")
                        a.link-product-detail(href=("/shop/product-detail/"+product._id))
                            button.btn.btn-detail Detail
                        //-Neu chua dang nhap thi khong cho hien add to cart
                        if isAuthenticated
                            form.form-add-to-cart(action='/shop/cart', method="POST")
                                input(type="hidden" name='_csrf' value=csrfToken)
                                button.btn.btn-add-to-cart(type='submit' value=product._id name='productId' ) Add to cart
                
          
                
             
            
